.muahang-container {
  width: 100%;
  height: auto;
  justify-content: center;
  font-family: "Roboto Condensed";
}

.logo-muahang {
  width: 100px;
  height: 100px;
  font-weight: bold;
  font-size: 40px;
  text-decoration: none;
  color: black;
  text-align: center;
}

/* ------------------------------------ */
.container-setup {
  width: 100%;
  height: 600px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.muahang-giay-info {
  width: 50%;
}

.muahang-customer-info {
  width: 50%;
  height: auto;
  display: flex;
}

.muahang-label {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.muahang-form {
  width: 100%;
  height: auto;
}

.thongtinh-muahang {
  margin-left: 11%;
}

.muahang-input {
  width: 80%;
  height: 50px;
  border: 1px solid #737373;
  border-radius: 10px;
  opacity: 0.8;
  z-index: 3;
  transition: border-color 0.3s;
  padding-left: 10px;
}

.hoten {
  margin-bottom: -20px;
}

.muahang-sdt {
  margin-bottom: 5px;
}

.muahang-input:focus {
  border-color: rgb(51, 141, 188);
  z-index: 5;
  opacity: 1;
}

.container-tinhthanhvietnam {
  width: 100%;
  height: auto;
}

.muahang-sonha {
  margin-bottom: -20px;
}

.tinhthanh {
  width: 80%;
  height: 50px;
  margin-bottom: 5px;
  border-radius: 10px;
  margin-left: 10%;
  opacity: 0.8;
  border: 1px solid #737373;
  padding-left: 7px;
}

.thanhtoan {
  margin-left: 11%;
  margin-top: 1%;
  font-weight: bold;
}

.muahang-input:focus {
  border: 2px solid rgb(51, 141, 188);
}

.tinhthanh:focus {
  border: 2px solid rgb(51, 141, 188);
}

.sanpham-img {
  width: 20%;
  height: 20%;
  border: 0.5px solid #3333;

  position: relative;
}

.hr-xoaydoc {
  height: 500px;
  width: 1px;
  border: 1px solid black;
  opacity: 0.2;
}

.sanpham-name {
  margin-left: 5%;
  font-size: 18px;
  color: #565252;
}

.thongtin-sanpham {
  width: 80%;
  height: auto;
  margin-left: 10%;
}

.sanpham-price {
  margin-left: 10%;
  font-size: 18px;
  color: #000000;
}

.sanpham-price1 {
  margin-left: 5%;
  font-size: 15px;
  color: #565252;
  text-decoration: line-through;
  opacity: 0.7;
}

.muahang-magiamgia1 {
  width: 100%;
  height: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.muahang-magiamhgia {
  height: 50px;
  width: 58%;
  border-radius: 10px;
  padding-left: 10px;
}

.muahang-xacnhan {
  border-radius: 10px;
  margin-left: 10px;
  background-color: black;
  color: white;
  width: 40%;
  height: 50px;
}

.discount-bannerr {
  width: 20px;
  height: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  position: absolute;
  font: 12px;
  /* Change from left to right */
  color: white;
  background-color: #565252;
  padding: 5px;
  font-size: 14px;
  border-radius: 50%;
  z-index: 1;
  margin-top: -5px;
  margin-left: 109px;
}

.muahang-tamtinh3 {
  margin-left: 67.7%;
}

.muahang-phivanchuyen {
  margin-top: 20px;
}

.muahang-phivanchuyen1 {
  margin-left: 63%;
}

.muahang-tongcong {
  font-size: 20px;
}

.muahang-tongcong1 {
  margin-left: 60%;
}

.muahang-tongcong2 {
}

.product-muahang_banner {
  position: absolute;
  background-color: #e74c3c;
  /* Adjust color as needed */
  color: #fff;
  padding: 5px 10px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 12px;
  font-weight: bold;
  z-index: 2;
}

.muahang-button {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  height: 40px;
  background-color: black;
  color: white;
}

/* Add this style to position the container relative to the image */

.span1 {
  cursor: pointer;
  padding: 6px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 7px;
  transition: all 0.3s ease-in;
  font-size: 20px;
  margin-left: 10%;
}

.span2 {
  cursor: pointer;
  padding: 6px 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 7px;
  transition: all 0.3s ease-in;
}

.span1,
.span2 {
  cursor: pointer;
  font-size: 18px; /* Điều chỉnh kích thước mặc định của dấu + và - */
}

/* Đổi màu khi hover */
.span1:hover,
.span2:hover {
  color: white; /* Đổi màu khi hover */
  background-color: black;
  transform: scale(1.2);
}

.buttonSoluong {
  display: flex;
  margin-bottom: 9px;
}

/* .size-option {
  display: inline-block;
  cursor: pointer;
  margin-right: 20px;
  padding: 5px 13px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 30px;
  transition: all 0.3s ease-in;
}
.size-option:hover {
  background-color: black;
  color: white;
} */

.size-text {
  margin: 0;
  font-size: 24px;
}

.sizeChoose {
  margin-bottom: 9px;
  margin-left: 10%;
}

.size-option {
  display: inline-block;
  cursor: pointer;
  margin-right: 20px;
  border: none;
  padding: 2px;
}

.size-option input[type="radio"] {
  display: none; /* Ẩn nút radio mặc định */
  text-decoration: none;
}

.size-option label {
  display: block;
  padding: 9px;
  border-radius: 4px;
  border: 1px solid black;
  transition: all 0.5 ease-in;
}

.size-option label:hover {
  background-color: #000000;
  color: white;
  cursor: pointer;
}

.size-option input[type="radio"]:checked + label {
  background-color: black;
  color: white;
  border-color: black; /* Màu khi được chọn */
}

.size-option input[type="radio"]:checked + label::before {
  background-color: black; /* Màu của hình vuông khi được chọn */
  border-color: black;
  visibility: hidden; /* Ẩn hình vuông khi được chọn */
}

.size-option label:checked {
  background-color: black;
}

.error-message {
  color: red;
  font-size: 14px;
  /* margin-top: 9px; */
  margin-left: 10%;
  margin-bottom: 10px;
}
.btn-primary {
  background-color: white;
  padding: 10px 50px;
  color: #000000;
  border: 1px solid black;
  margin-left: 43%;
  margin-top: 6%;
}

.btn-primary:hover {
  background-color: #000000;
  color: white;
}
