body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  height: auto;
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  /* margin-bottom: 1%; */
}

.w3-container h2 {
  font-weight: 700;
  margin: 0 auto;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: rgb(8, 15, 238);
  color: white;
}

.w3-container {
  width: 100%;
  margin-left: 0; /* Sửa lại margin-left thành 0 */
  padding: 20px;
  margin-top: 5%;
}

.create-user-container {
  text-align: center;
  padding: 20px;
  margin: auto;
  max-width: 100%;
}

.create-user-container label {
  display: block;
}
.create-user-container button {
  margin-top: 15px;
  cursor: pointer;
}
.create-user-container div {
  display: flex;

  margin: 15px auto;
}

.create-user-container form {
  display: flex;
  flex-direction: column;
  max-width: 100%; /* Điều chỉnh chiều rộng tối đa của form */
  margin: 10px auto;
}
.create-user-container label {
  flex: 1;
  margin-right: 10px;
  font-weight: 800;
  text-align: left;
}

.create-user-container input,
.create-user-container select {
  flex: 5;
}

.create-user-container fieldset {
  padding: 0 20px;
}

.create-user-container button {
  margin: 10px auto;
  cursor: pointer;
}

.editButton {
  width: 100%;
  height: 100%;
  background-color: white;
  transition: all 0.3s ease-in;
  cursor: pointer;
  /* max-width: 100px;
  max-height: 100px; */
  margin: auto;
  padding: 10px 0;
}

.editButton:hover {
  background-color: black;
  color: white;
}

.editButton2 {
  width: 100%;
  height: 3.4%;
  background-color: white;
  transition: all 0.3s ease-in;
  cursor: pointer;
  max-width: 100px;
  max-height: 100px;
}

.editButton2:hover {
  background-color: black;
  color: white;
}

.search-container {
  margin-top: 20px;
}

.search-container form {
  display: flex;
  align-items: center;
}

.search-container label {
  margin-right: 10px;
}

.w3-table-all {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  overflow-x: auto;
}

/* Màu nền cho hàng header */
.w3-light-grey {
  background-color: black;
}

/* Tạo đường biên cho ô */
.w3-table-all th,
.w3-table-all td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: center;
}

/* Hiệu ứng khi hover */
.w3-hoverable tbody tr:hover {
  background-color: #f5f5f5;
}

/* Định dạng ảnh trong cột 'Mô tả' */
.w3-table-all tbody td img {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
}
.w3-table-all tbody td form {
  margin-bottom: 5px;
}

/* Màu nền đen cho hàng header */
.w3-table-all thead {
  background-color: #000;
}

/* Màu chữ trắng cho hàng header */
.w3-table-all th {
  color: #fff;
  background-color: #000;
}

.w3-table-all th,
.w3-table-all td {
  text-align: center;
}

.w3-table-all .w3-hoverable {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .topnav {
    flex-direction: row; /* Hiển thị các mục menu theo hàng ngang */
  }

  .topnav a {
    float: none; /* Bỏ float để chúng hiển thị dọc */
    width: 100%; /* Đảm bảo chiều rộng là 100% */
    text-align: left; /* Canh trái văn bản */
  }

  .w3-container {
    padding: 10px; /* Giảm padding để cập nhật không chiếm quá nhiều không gian */
  }

  .create-user-container {
    padding: 10px;
  }

  .w3-table-all th,
  .w3-table-all td {
    padding: 6px;
  }
}
