/* homepage.css */
@import url("https://cdn.jsdelivr.net/npm/react-toastify/dist/ReactToastify.css");
/* Reset margin and padding for the whole page */
body,
html {
  margin: 0;
  padding: 0;
}

/* Apply a background color to the entire page */
body {
  background-color: #f8f8f8; /* Màu nền của trang */
}
