/* style.css */

.container {
  margin-top: 23%;
}

.container-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}

.card {
  border-radius: 8px;
  margin: 10px; /* Khoảng cách giữa các card */
  padding: 15px;
  text-align: center;
  width: calc(
    (100% - 20px) / 4
  ); /* Điều chỉnh số 4 cho số card trên mỗi hàng */
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  max-width: 100%;
  height: 40%;
  width: 80%;
  margin: 0 auto;
  transition: transform 0.3s ease;
}

.card-title {
  margin: 9px 0;
  font-size: 20px;
}

.card-subtitle,
.card-text {
  font-weight: bold;
  color: #333;
  font-size: 15px;
}

.btn-primary {
  padding: 7px 45px;
  margin-left: 22.8%;
  margin-top: 9%;
  background-color: black;
  transition: all 0.3s ease-in;
  text-align: center;
}

.btn-primary:hover {
  background-color: gray;
}

/* Media queries for responsiveness */
@media screen and (max-width: 600px) {
  .container-product {
    margin-bottom: 30px;
  }

  .card {
    width: 100%;
  }

  .card img {
    width: 100%;
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  .card {
    width: calc((100% - 30px) / 2);
  }
}
