.header-container {
  height: 20%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}

.header-logo {
  width: 10%;
  height: 10%;
  margin-right: 30px;
}
.header-logo img {
  width: 100%;
  height: 100%;
  margin-right: 20px;
}

.header-ul ul {
  display: flex;
}

.header-ul ul li {
  padding: 0 40px;
  list-style: none;
  font-size: 30px;
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
}
.header-ul ul li a {
  text-decoration: none;
  color: black;
}

.header-ul ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0; /* Bắt đầu với độ rộng là 0 */
  height: 2px; /* Độ dày của đường gạch */
  background: black;
  transition: width 0.7s ease; /* Hiệu ứng chuyển động */
}
.header-ul ul li:hover::after {
  width: 100%; /* Khi hover, đường gạch sẽ mở rộng đến 100% */
}

.navSearch {
  color: black;
  display: flex;
  padding: 0 30px;
}

.iconSearch {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.navSearch:hover .iconSearch {
  color: black;
}
.navSearch input {
  font-size: 14px;

  height: 40px;
  width: 300px;
  color: black;

  transition: all 0.5s;
}

.navSearch input:focus {
  padding-right: 26px;
  width: 300px;
  cursor: text;
  opacity: 1;
}
