/* Trong file CSS của bạn hoặc trực tiếp trong JSX nếu bạn đang sử dụng styled-components */
/* style.css */

.container-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  width: calc((100% - 50px) / 6);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  width: 80%;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.1);
  cursor: pointer;
}

.card-title {
  margin: 10px 0;
  font-size: 20px;
}

.card-subtitle,
.card-text {
  font-weight: bold;
  color: #333;
  font-size: 15px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }

  .card img {
    width: 100%;
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  .card {
    width: 48%;
  }
}
